cycler==0.11.0
Cython==0.29.14
gensim==3.8.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.1.1
nltk==3.4.5
numpy==1.21.6
pandas==0.25.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==0.22.2.post1
scipy==1.7.3
six==1.16.0
smart-open==6.0.0
typing-extensions==4.2.0
